<launch>

    <!-- Establish connection with Dynamixel -->
    <rosparam file="$(find rotate_hokuyo)/config/stop_dynamixel.yaml" command="load"/>
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                pan_tilt_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 57142
                    min_motor_id: 0
                    max_motor_id: 2
                    update_rate: 17.62
        </rosparam>
    </node>

    <!-- NOTE: Physically set the 'wheel mode' to ON by running the following command in linux terminal -->
    <!-- rosrun dynamixel_driver set_servo_config.py -'-port=/dev/ttyUSB0 -'-baud=100000 -'-ccw-angle-limit=0 ID -->
    <!-- Ex: rosrun dynamixel_driver set_servo_config.py -'-port=/dev/ttyUSB0 -'-baud=57142 -'-ccw-angle-limit=0 1 -->

    <!-- notify Dynamixel to start rotating -->
    <node name="dynamixel_controller" pkg="dynamixel_controllers" type="controller_spawner.py" args="--manager=dxl_manager --port=pan_tilt_port --type=simple pan_controller" output="screen"/>

</launch>
